 <section id="footer">
      <div class="footer">
        <div class="col4 -df -d-co -pvs">
          <span class="f-t -pbm">Need Help?</span>
          <ul class="-lsn">
            <li>
              <a class="_link -pbxs" href="https://www.jumia.com.ng/help/"
                >Help Center</a
              >
            </li>
            <li>
              <a class="_link -pbxs" href="https://www.jumia.com.ng/sp-contact/"
                >Contact Us</a
              >
            </li>

            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/delivery-timelines/"
                >Delivery options and timelines</a
              >
            </li>

            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/jumia-corporate/"
                >Corporate and bulk purchases</a
              >
            </li>
            <li>
              <a
                class="_link -pbxs"
                href="https://jumia.secure.force.com/CounterfeitCaseForm/"
                >Report a Product</a
              >
            </li>

            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/sp-dispute-resolution/"
                >Dispute Resolution Policy</a
              >
            </li>
            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/sp-returns-refunds-policy/"
                >Returns and Refunds Policy</a
              >
            </li>
          </ul>
        </div>
        <div class="col4 -df -d-co -pvs">
          <span class="f-t -pbm">ABOUT US</span>
          <ul class="-lsn">
            <li>
              <a class="_link -pbxs" href="https://www.jumia.com.ng/about_us/"
                >About us</a
              >
            </li>

            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/terms-of-use/"
                >Terms and Conditions</a
              >
            </li>
            <li>
              <a class="_link -pbxs" href="https://www.jumia.com.ng/privacy/"
                >Privacy Notice</a
              >
            </li>

            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/sp-cookie-notice/"
                >Cookie Notice</a
              >
            </li>
            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/mlp-jumia-global/"
                >Global</a
              >
            </li>
            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/mlp-official-stores/"
                >Official Stores</a
              >
            </li>
            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/flash-sales/"
                >Flash Sales</a
              >
            </li>
            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/mlp-anniversary"
                >Our Anniversary 2023</a
              >
            </li>
          </ul>
        </div>
        <div class="col4 -df -d-co -pvs">
          <span class="f-t -pbm">MAKE MONEY WITH US</span>
          <ul class="-lsn">
            <li>
              <a
                class="_link -pbxs"
                href="https://www.jumia.com.ng/marketplace-vendor/"
                >Sell
              </a>
            </li>
            <li>
              <a class="_link -pbxs" href="https://www.jumia.com.ng/jforce/"
                >Become a Sales Consultant</a
              >
            </li>
            <li>
              <a
                class="_link -pbxs"
                href="https://jumia_form.formstack.com/forms/3pl_interest_registration_en"
                >Become a Logistics Service Partner</a
              >
            </li>
            <li>
              <a
                class="_link -pbxs"
                href="https://s.alchemer.com/s3/de5375b6d0c9?county=Nigeria&amp;Channel=WebPG"
                >Join the our DA Academy</a
              >
            </li>
            <li>
              <a class="_link -pbxs" href="https://kol.jumia.com/login"
                >Join the our KOL Program</a
              >
            </li>
          </ul>
        </div>
        <div class="col4 row -c-start -pvs">
          <span class="f-t col16 -pbm">INTERNATIONAL</span>
          <ul class="col5 -df -d-co -lsn">
            <li>
              <a class="_link -pbxs" href="https://www.jumia.dz/">Algeria</a>
            </li>
            <li>
              <a class="_link -pbxs" href="https://www.jumia.com.eg/">Egypt</a>
            </li>
            <li>
              <a class="_link -pbxs" href="https://www.jumia.com.gh/">Ghana</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/fb82e06282.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="index.js"></script>
  </body>
</html>