    <section class="non-cart" id="main">
      <div class="menu">
        <div class="sidebar">
          <ul class="menu">
            <li class="menu-item">
              <a href="#">Supermarket</a>
              <ul class="submenu">
                <li><a href="#">Fresh Produce</a></li>
                <li><a href="#">Meat & Poultry</a></li>
                <li><a href="#">Dairy & Eggs</a></li>
                <li><a href="#">Bakery</a></li>
                <li><a href="#">Canned Goods</a></li>
                <li><a href="#">Beverages</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Health & Beauty</a>
              <ul class="submenu">
                <li><a href="#">Skincare</a></li>
                <li><a href="#">Hair Care</a></li>
                <li><a href="#">Personal Care</a></li>
                <li><a href="#">Cosmetics</a></li>
                <li><a href="#">Healthcare</a></li>
                <li><a href="#">Wellness & Supplements</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Home & Office</a>
              <ul class="submenu">
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Home Decor</a></li>
                <li><a href="#">Kitchen & Dining</a></li>
                <li><a href="#">Bedding & Bath</a></li>
                <li><a href="#">Office Supplies</a></li>
                <li><a href="#">Storage & Organization</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Appliances</a>
              <ul class="submenu">
                <li><a href="#">Blenders</a></li>
                <li><a href="#">Deep Fryers</a></li>
                <li><a href="#">Juicers</a></li>
                <li><a href="#">Air Fryers</a></li>
                <li><a href="#">Rice Cookers</a></li>
                <li><a href="#">Toasters & Ovens</a></li>
                <li><a href="#">Microwaves</a></li>
                <li><a href="#">Bundles</a></li>
                <li><a href="#">Vacuum Cleaners</a></li>
                <li><a href="#">Kettles</a></li>
                <li><a href="#">Yam Pounders</a></li>
                <li><a href="#">Irons</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Phones & Tablets</a>
              <ul class="submenu">
                <li><a href="#">Mobile Phones</a></li>
                <li><a href="#">Tablets</a></li>
                <li><a href="#">Accessories</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Computing</a>
              <ul class="submenu">
                <li><a href="#">Laptops</a></li>
                <li><a href="#">Desktops</a></li>
                <li><a href="#">Components & Accessories</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Electronics</a>
              <ul class="submenu">
                <li><a href="#">TVs</a></li>
                <li><a href="#">Cameras</a></li>
                <li><a href="#">Audio & Sound Systems</a></li>
                <li><a href="#">Smart Home</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Fashion</a>
              <ul class="submenu">
                <li><a href="#">Men's Clothing</a></li>
                <li><a href="#">Women's Clothing</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Bags & Accessories</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Baby Products</a>
              <ul class="submenu">
                <li><a href="#">Baby Clothing</a></li>
                <li><a href="#">Diapers & Wipes</a></li>
                <li><a href="#">Baby Gear</a></li>
                <li><a href="#">Nursery</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Gaming</a>
              <ul class="submenu">
                <li><a href="#">Consoles</a></li>
                <li><a href="#">Games</a></li>
                <li><a href="#">Accessories</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Sporting Goods</a>
              <ul class="submenu">
                <li><a href="#">Fitness</a></li>
                <li><a href="#">Outdoor Recreation</a></li>
                <li><a href="#">Team Sports</a></li>
                <li><a href="#">Camping & Hiking</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Other Categories</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <img src="/images/sales.jpg" alt="" />
      </div>
    </section>
    <h2 class="h2" class="non-cart" style=" text-align: center; padding: 30px 0 10px 0; font-size: 2rem">
      Categories
    </h2>
