<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>

  <section id="top">
      <div id="top1">
        <a class="logo" href="#">Logo</a>
        <div>
          <ul class="nav">
            <li><a href="">Shop</a></li>
            <li><a href="">Food</a></li>
            <li><a href="">Logistics</a></li>
          </ul>
        </div>
      </div>
      <div id="menu">
        <form>
          <input type="text" />
          <button>Search</button>
        </form>
        <p>
          Profile
          <i class="fa fa-user" aria-hidden="true"></i>
        </p>
        <ion-icon id="cart-button" name="bag-outline"></ion-icon>
      </div>
    </section>